{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- <script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); }
</script> -->
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fasthover.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css" media="all" />

<script src="{% static 'js/myjs.js' %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/b06605e970.js"></script>

<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  


<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 

<style>
	.cam-show img, #myModal9 img, #myModal10 img, #myModal11 img, #myModal12 img {
		height: 100% !important;
	}

	.mic-rel {
		position: relative;
	}

	.pop-up-mic {
		position: absolute;
		top: 15px;
		left: 5%;
	}
	
	#audio_1 {
		display: block;
	}
	#audio_tag{
		display: none;
	}
	.cart {
		position: relative;
	}
	#cart-close {
		position: absolute;
		top: 85px;
		left: 100px;
		z-index: 90000;
		border: none;
		display: none;
	}


</style>

</head> 
<body id="cart_id" class=>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	<!-- //for bootstrap working -->

	<!-- audio -->

	<audio id="audio_tag" controls>
		<source src="{% static 'audio/try_again.mp3' %}">
	</audio>

	<!-- // audio -->


	<!-- header -->
	<div class="header" id="home1" id="header_id">
		<div class="container">

			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>

			<div class="cart cart box_1"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>   
				<button id="cart-close">x</button>
			</div>
			<form action="#" id="mic_form">
				<button class="microphone" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
			</form>
			<form action="mic" id="mic_form">
				<button class="microphone" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
			</form>
		</div>
	</div>
	<!-- //header -->

	<!-- navigation -->
	<nav class="navbar navbar-expand-lg navbar-light" id="bg-nav" id="nav_id">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto ml-auto">
			<!-- <li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li> -->
			<li class="nav-item ml-5 mr-5">
			  <a class="nav-link" href="https://in.linkedin.com/in/gautamgupta1811">Gautam</a>
			</li>
			<li class="nav-item ml-5 mr-5">
				<a class="nav-link" href="https://www.linkedin.com/in/prachi0112/">Prachi</a>
			  </li>
		  </ul>
		</div>
	</nav>
	<!-- //navigation -->

	<!-- banner -->
	<div class="banner" id="banner_id">
		<div class="container">
			<h3>Mobile, Laptops, Cameras <span>Special Offers</span></h3>
		</div>
	</div>
	<!-- //banner --> 


	<!-- mobiles -->

	<div class="mob-show new-products" id="mobiles_id">
		<div class="container">
			<h3>Mobiles</h3>
			<div class="row">
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m1.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Oppo A9</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$300</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Oppo A9"> 
								<input type="hidden" name="amount" value="250.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="{% url 'product' %}">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m16.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Apple iPhone 11 Pro</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$1500</span> <i class="item_price">$1400</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Apple iPhone 11 Pro"> 
								<input type="hidden" name="amount" value="1400.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal2">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m27.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">OnePlus 7T</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="OnePlus 7T"> 
								<input type="hidden" name="amount" value="500.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal3">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m28.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Samsung Note10</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$570</span> <i class="item_price">$550</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Samsung Note10"> 
								<input type="hidden" name="amount" value="550.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal4">View</a>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic_con" id="mic_form" method="POST">
						{% csrf_token %}
						<input type="hidden" name="cat" value="mobile">
						<input type="hidden" name="item" value="OPPO A9">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m1.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Oppo A9</h4>
							<p class="mb-1">48MP+8MP+2MP+2MP Quad camera with 119degree ultra wide, ultra night mode, video EIS anti-shake, portrait camera | 16MP AI front camera</p>
							<p>16.5 centimeters (6.5-inch) with 1600 x 720 pixels resolution HD+ waterdrop screen with corning Gorilla 3+ screen. Sunlight screen and night shield with blue light filter</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$300</span> <i class="item_price">$250</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Oppo A9"> 
									<input type="hidden" name="amount" value="250.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic_con" id="mic_form" method="POST">
						{% csrf_token %}
						<input type="hidden" name="cat" value="mobile">
						<input type="hidden" name="item" value="Apple iPhone 11 Pro">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m16.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Apple iPhone 11 Pro</h4>
							<p class="mb-1">Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K video up to 60fps</p>
							<p>5.8-inch (14.7 cm) Super Retina XDR OLED display</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$1500</span> <i class="item_price">$1400</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Apple iPhone 11 Pro"> 
									<input type="hidden" name="amount" value="1400.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m27.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>OnePlus 7T</h4>
							<p class="mb-1">48+12+16MP triple rear camera with telephoto lens + ultrawide angle lens | 16MP front camera with 4K video capture @ 30/60 FPS, pro mode, panorama, HDR, AI scene detection, RAW image</p>
							<p>Oxygen OS based on Android v10 operating system with 2.96GHz Qualcomm Snapdragon 855 Plus AI Engine octa-core, 7nm processor, Adreno 640</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$520</span> <i class="item_price">$500</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="OnePlus 7T"> 
									<input type="hidden" name="amount" value="500.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m28.jpg' %}" alt=" " class="img-responsive">
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Samsung Note10</h4>
							<p class="mb-1">Memory, Storage & SIM: 8GB RAM | 128GB internal memory expandable up to 1TB | Dual SIM dual-standby (4G+4G)</p>
							<p>12MP Ultra wide (123°) FF + F2.2  Wide (77°) 12MP AF F1.7 Dual Pixel + Tele (45°) 12MP AF F2.4 OIS, 2x Zoom camera | 32MP front facing camera</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$570</span> <i class="item_price">$550</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Samsung Note10"> 
									<input type="hidden" name="amount" value="550.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modal-video -->

	<!-- //mobiles -->

	<!-- laptops -->

	<div class="lap-show new-products" id="laptops_id">
		<div class="container">
			<h3>Laptops</h3>
			<div class="row">
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m6.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Dell G3 3500</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$2000</span> <i class="item_price">$1080</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Dell G3 3500"> 
								<input type="hidden" name="amount" value="1080.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal5">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m22.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Lenovo Ideapad</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Lenovo Ideapad"> 
								<input type="hidden" name="amount" value="500.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal6">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m23.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">HP Notebook G7</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$720</span> <i class="item_price">$700</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="HP Notebook G7"> 
								<input type="hidden" name="amount" value="700.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal7">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m21.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Alienware m15(R3)</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$2800</span> <i class="item_price">$2700</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Alienware m15(R3)"> 
								<input type="hidden" name="amount" value="2700.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal8">View</a>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic_con" id="mic_form" method="POST">
						{% csrf_token %}
						<input type="hidden" name="cat" value="laptop">
						<input type="hidden" name="item" value="Dell G3 3500">						
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m6.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Dell G3 3500</h4>
							<p class="mb-1">Display:15.6 LED Backlit Anti Glare IPS FHD (1920 x 1080) display ,60Hz ,300 nits | 72% NTSC Color Gamut</p>
							<p>Graphics:NVIDIA GeForce GTX 1650 Ti 4GB GDDR6 | Game Shift Technology. Operating System & Software:Windows 10 Home Plus Single Language | McAfee Security Center 15 month subscription</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$2000</span> <i class="item_price">$1080</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Dell G3 3500"> 
									<input type="hidden" name="amount" value="1080.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m22.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Lenovo Ideapad</h4>
							<p class="mb-1">Processor: 10th Gen Intel Core i3-1005G1 processor, 1.2 Ghz base speed, 3.4 Ghz max speed, 2 Cores, 4Mb Smart Cache</p>
							<p>Display: 15.6-inch screen with (1920X1080) full HD display , Anti Glare technology Memory and storage: 4 GB RAM | Storage: 1 TB HDD</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$520</span> <i class="item_price">$500</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Lenovo Ideapad"> 
									<input type="hidden" name="amount" value="500.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m23.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>HP Notebook G7</h4>
							<p class="mb-1">2GHz AMD R5-2500U processor. 8GB DDR4 RAM</p>
							<p>1TB 5400rpm hard drive. 14-inch screen, AMD Radeon Vega Graphics</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$720</span> <i class="item_price">$700</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="HP Notebook G7"> 
									<input type="hidden" name="amount" value="700.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic_con" id="mic_form" method="POST">
						{% csrf_token %}
						<input type="hidden" name="cat" value="laptop">
						<input type="hidden" name="item" value="Alienware m15(R3)">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m21.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Alienware m15(R3)</h4>
							<p class="mb-1">Processor:10th Gen Intel Ci7-10750H Processor(12MB Cache, up to 5.1 GHz, 6 cores)</p>
							<p>Display:15.6" FHD (1920 x 1080) 300Hz 3ms 300-nits 100% sRGB color gamut" Graphics: NVIDIA GeForce GTX 1660 Ti 6GB GDDR6</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$2800</span> <i class="item_price">$2700</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Alienware m15(R3)"> 
									<input type="hidden" name="amount" value="2700.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modal-video -->

	<!-- //laptops -->

	<!-- cameras -->

	<div class="cam-show new-products" id="cameras_id">
		<div class="container">
			<h3>Cameras</h3>
			<div class="row">
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m26.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Sony ILCE5100L</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Sony ILCE5100L"> 
								<input type="hidden" name="amount" value="500.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal9">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m24.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Nikon D5300</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$570</span> <i class="item_price">$550</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Nikon D5300"> 
								<input type="hidden" name="amount" value="550.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal10">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m25.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Sony ILCE6000Y</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$780</span> <i class="item_price">$750</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Sony ILCE6000Y"> 
								<input type="hidden" name="amount" value="750.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal11">View</a>
						</div>
					  </div>
				</div>
				<div class="col-3">
					<div class="card" style="width: 16rem; border: none; background: #f3f3f3;">
						<div class="card-img-hover">
							<img src="{% static 'wit_images/m12.jpg' %}" class="card-img-top" alt="">
						</div>
						<div class="card-body" style="text-align: center; color: red; font-weight: 800; padding: 0.5rem;">
						  <h5 class="card-title" style="margin-bottom: 0rem; margin-top: 0.5rem; font-size: 24px;">Sony DSC W830</h5>
						</div>
						<div class="simpleCart_shelfItem" style="text-align: center;">
							<p><span>$110</span> <i class="item_price">$100</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Sony DSC W830"> 
								<input type="hidden" name="amount" value="100.00">   
								<button type="submit" class="w3ls-cart mb-3">Add to cart</button>
							</form>
						</div>
						<div class="card-view">
							<a href="#" data-toggle="modal" data-target="#myModal12">View</a>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>

	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m26.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Sony ILCE5100L</h4>
							<p class="mb-1">Sensor: APS-C CMOS Sensor with 24.3 MP (high resolution for large prints and image cropping). ISO: 100-25600 sensitivity range </p>
							<p>Image Processor: BIONZ X with 179 autofocus points (important for speed and accuracy of autofocus and burst photography)</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$520</span> <i class="item_price">$500</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Sony ILCE5100L"> 
									<input type="hidden" name="amount" value="500.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m24.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Nikon D5300</h4>
							<p class="mb-1">24.2 effective megapixels. 23.5 x 15.6 mm DX format CMOS sensor</p>
							<p>Comes with a 18-55mm VR kit lens, BF-1B body cap, BS-1 accessory shoe cover, DK-25 rubber eyecup</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$570</span> <i class="item_price">$550</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Nikon D5300"> 
									<input type="hidden" name="amount" value="550.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m25.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Sony ILCE6000Y</h4>
							<p class="mb-1">24.3 MP Exmor TM APS HD CMOS sensor. BIONZ X image processing engine</p>
							<p>Shot speeds up to 60MB/s*, transfer speeds up to 150MB/s* and other factors. 1Mb=1, 000, 000 bytes. X = 150Kb/sec.</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$780</span> <i class="item_price">$750</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Sony ILCE6000Y"> 
									<input type="hidden" name="amount" value="750.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="modal video-modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModal1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header mic-rel" style="padding: 0 0 10px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 1rem 2rem 1.5rem;"><span aria-hidden="true">&times;</span></button>
					<form action="#" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-play"><i class="fa fa-microphone" aria-hidden="true"></i></button>
					</form>
					<form action="mic" id="mic_form">
						<button class="microphone pop-up-mic" id="mic-pause"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
					</form>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'wit_images/m12.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>Sony DSC W830</h4>
							<p class="mb-1">Super HAD CCD sensor with 20.1 effective megapixels : Included Components - 1 U (Including-Rechargeable battery, AC Adaptor, Multi USB Cable, Wrist Strap,User Manual)</p>
							<p>Equipped with sweep panorama, intelligent auto and picture effect, Self-Timer: Off , 10sec., 2sec., portrait1, portrait2</p>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$110</span> <i class="item_price">$100</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Sony DSC W830"> 
									<input type="hidden" name="amount" value="100.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modal-video -->

	<!-- //cameras -->


	<!-- hot-deal -->
	<div class="banner-bottom1" id="hot_deal_id">
		<div class="agileinfo_banner_bottom1_grids">
			<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
				<!-- <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3> -->
				<a href="products.html" style="font-size: 30px;">Shop Now</a>
			</div>
			<div class="col-md-5 agileinfo_banner_bottom1_grid_right">
				<h4>hot deal</h4>
				<div class="timer_wrap">
					<div id="counter"> </div>
				</div>
				<script src="{% static 'js/jquery.countdown.js' %}"></script>
				<script src="{% static 'js/script.js' %}"></script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //hot-deal --> 

	<!-- special-deals -->
	<div id='deal-href' class="special-deals" id="special_deal_id">
		<div class="container">
			<h2>Special Deals</h2>
			<div class="w3agile_special_deals_grids">
				<div class="col-md-7 w3agile_special_deals_grid_left">
					<div class="w3agile_special_deals_grid_left_grid">
						<img src="{% static 'images/21.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3agile_special_deals_grid_left_grid_pos1">
							<h5>30%<span>Off/-</span></h5>
						</div>
						<div class="w3agile_special_deals_grid_left_grid_pos">
							<h4>We Offer <span>Best Products</span></h4>
						</div>
					</div>
					<div class="wmuSlider example1">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t1.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Laura</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t2.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Michael</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t3.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Rosy</h4>
									</div>
								</div>
							</article>
						</div>
					</div>
						<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
				</div>
				<div class="col-md-5 w3agile_special_deals_grid_right">
					<!-- <img src="{% static 'images/20.jpg' %}" alt=" " class="img-responsive" /> -->
					<img style="height: 596px;" src="{% static 'images/big-sale.jpg' %}">
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special-deals -->

	<!-- new-products -->
	<div class="new-products" id="new_products_id">
		<div class="container">
			<h3>New Products</h3>
			<div class="agileinfo_new_products_grids">
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'wit_images/m1.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m2.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m3.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m4.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m5.jpg' %}" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="#">Oppo A9</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$300</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Oppo A9"> 
								<input type="hidden" name="amount" value="250">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'wit_images/m6.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m7.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m8.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m9.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m10.jpg' %}" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="#">Dell G3 3500</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$2000</span> <i class="item_price">$1080</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Dell G3 3500"> 
								<input type="hidden" name="amount" value="1080">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'wit_images/m12.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m14.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m13.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m11.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m15.jpg' %}" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal12"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="#">Sony DSC W830</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$110</span> <i class="item_price">$100</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Sony DSC W830"> 
								<input type="hidden" name="amount" value="100">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'wit_images/m16.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m17.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m18.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m19.jpg' %}" alt=" " class="img-responsive" />
							<img src="{% static 'wit_images/m20.jpg' %}" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="#">Apple iPhone 11 Pro</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$1500</span> <i class="item_price">$1400</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Apple iPhone 11 Pro"> 
								<input type="hidden" name="amount" value="1400">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //new-products -->

	<!-- newsletter -->
	<div class="newsletter" id="newsletter-scroll" id="newsletter_id">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Connect with Us</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->

	<!-- footer -->
	<div class="footer" id="footer-scroll" id="footer_id">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid mr-5">
					<h3>Contact</h3>
					<p>Bharati Vidyapeeth's College of Engineering.</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>New Delhi, India.</li>
						<!-- <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li> -->
						<!-- <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li> -->
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid ml-5">
					<h3>Category</h3>
					<ul class="info"> 
						<li><a href="products.html">Mobiles</a></li>
						<li><a href="products1.html">Laptops</a></li>
						<li><a href="products.html">Cameras</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3 id="profile_heading">Profile</h3>
					<div class="row">
						<div class="col">
							<div>
								<h6 class="ml-2" style="color: darkslateblue; font-weight: 500;">Gautam</h6>
							</div>
							<div>
								<ul class="d-flex" id="profile_icons">
									<li><a href="https://github.com/gautamgupta1811"><i class="fab fa-github"></i></a></li>
									<li><a href="https://in.linkedin.com/in/gautamgupta1811"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div>
								<h6 class="ml-2" style="color: darkslateblue; font-weight: 500;">Prachi</h6>
							</div>
							<div>
								<ul class="d-flex" id="profile_icons">
									<li><a href="https://github.com/prachi0112"><i class="fab fa-github"></i></a></li>
									<li><a href="https://www.linkedin.com/in/prachi0112/"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="{% static 'images/arrow.png' %}" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2017 Electronic Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>

		<!-- <div class="footer-copy-pos">
			<a href="#profile-tab" class="scroll"><img src="{% static 'images/arrow.png' %}" alt=" " class="img-responsive" /></a>
		</div> -->

	</div>
	<!-- //footer --> 

	<!-- cart-js -->
	<script src="{% static 'js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>
	<!-- //cart-js -->   

</body>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
	const data = JSON.parse("{{data|escapejs}}");
	var datanode = document.getElementById("audio_tag");
	if(data != null){ 
		datanode.play();
		data = null;
	}

	
</script>

<script>
	var data1 = JSON.parse("{{data1|escapejs}}");
	var datanode = document.getElementById("cart_id");
	var cart_close = document.getElementById("cart-close");
	if(data1 != null){
		console.log("okay");
		datanode.classList.toggle("sbmincart-showing");
		cart_close.style.display = "block";
		cart_close.addEventListener("click", hideCart);
	}
	function hideCart() {
		datanode.classList.remove("sbmincart-showing");
		cart_close.style.display = "none";
	}
</script>

<!-- <script>
	var data1 = JSON.parse("{{data1|escapejs}}");
	var datanode = document.getElementById("cart_id");
	if(data1 != null){
		datanode.classList.toggle("sbmincart-showing");

	}
</script> -->

<!-- <script>
	var datanode1 = document.getElementById("cart_id");
	console.log(datanode1)
	if(datanode1 != null){
		datanode1.addEventListener("click", function(){datanode1.classList.toggle("sbmincart-showing",false)})
	}
</script> -->